Learn <a href="#">how to add a form to your site which Netlify can process for you</a>

<pre>
<code>
&lt;form name=&quot;contact&quot; method=&quot;POST&quot; data-netlify=&quot;true&quot;&gt;
  &lt;p&gt;
    &lt;label&gt;Your Name: &lt;input type=&quot;text&quot; name=&quot;name&quot; /&gt;&lt;/label&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;label&gt;Your Email: &lt;input type=&quot;email&quot; name=&quot;email&quot; /&gt;&lt;/label&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;label&gt;Your Role: &lt;select name=&quot;role[]&quot; multiple&gt;
      &lt;option value=&quot;leader&quot;&gt;Leader&lt;/option&gt;
      &lt;option value=&quot;follower&quot;&gt;Follower&lt;/option&gt;
    &lt;/select&gt;&lt;/label&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;label&gt;Message: &lt;textarea name=&quot;message&quot;&gt;&lt;/textarea&gt;&lt;/label&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;button type=&quot;submit&quot;&gt;Send&lt;/button&gt;
  &lt;/p&gt;
&lt;/form&gt;
</code>
</pre>
