---
title: Netlify on-ramp
---

<h1>You deployed a site and this is it</h1>


<ul>
  <li id="feature-functions">{% render 'instructions/functions' %}</li>
  <li id="feature-redirects">Learn <a href="#">how to add a redirects with the Netlify Redirects API</a></li>
  <li id="feature-forms">{% render 'instructions/forms' %}</li>
</ul>




